.menu {
    display: flex;
    font: 24px/32px Helvetica, Arial, sans-serif;
    top: 50%;
    left: 50%;
  }
  .menu-item {
    margin-right: 12px;
    width: 1024px;
    height: 768px;
  }
  .menu-item:last-child {
    margin-right: 0;
  }
  .menuLimiter {
    width: 1280px;
    height: 1024px;
    padding: 0 10px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
  .menuWrapper {
    overflow: hidden;
  }